@charset "utf-8";
body {
  width: 100%;
  max-width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  overflow: hidden;
}


/*********************************************************/

.tag-music-on{
  -webkit-animation:flatRotate 2s linear infinite;
}

.branch,
.dialog,
.page {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.dialog {
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.branch {
  font-size: 3rem;
  color: #fff;
}


/*loading 菊花*/

.loading-div {
  background: url(data:image/gif;base64,R0lGODlhGQAZAKIEAMzMzJmZmTMzM2ZmZgAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAAEACwAAAAAGQAZAAADVki63P4wSEiZvLXemRf4yhYoQ0l9aMiVLISCDms+L/DIwwnfc+c3qZ9g6Hn5hkhF7YgUKI2dpvNpExJ/WKquSoMCvd9geDeuBpcuGFrcQWep5Df7jU0AACH5BAUAAAQALAoAAQAOABQAAAMwSLDU/iu+Gdl0FbTAqeXg5YCdSJCBuZVqKw5wC8/qHJv2IN+uKvytn9AnFBCHx0cCACH5BAUAAAQALAoABAAOABQAAAMzSLoEzrC5F9Wk9YK6Jv8gEYzgaH4myaVBqYbfIINyHdcDI+wKniu7YG+2CPI4RgFI+EkAACH5BAUAAAQALAQACgAUAA4AAAMzSLrcBNDJBeuUNd6WwXbWtwnkFZwMqUpnu6il06IKLChDrsxBGufAHW0C1IlwxeMieEkAACH5BAUAAAQALAEACgAUAA4AAAM0SLLU/lAtFquctk6aIe5gGA1kBpwPqVZn66hl1KINPDRB3sxAGufAHc0C1IkIxcARZ4QkAAAh+QQFAAAEACwBAAQADgAUAAADMUhK0vurSfiko8oKHC//yyCCYvmVI4cOZAq+UCCDcv3VM4cHCuDHOZ/wI/xxigDQMAEAIfkEBQAABAAsAQABAA4AFAAAAzNIuizOkLgZ13xraHVF1puEKWBYlUP1pWrLBLALz+0cq3Yg324PAUAXcNgaBlVGgPAISQAAIfkEBQAABAAsAQABABQADgAAAzRIujzOMBJHpaXPksAVHoogMlzpZWK6lF2UjgobSK9AtjSs7QTg8xCfELgQ/og9I1IxXCYAADs=) no-repeat center center;
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 70%;
  -webkit-transform: translate3d(-70%, -70%, 0);
  transform: translate3d(-70%, -70%, 0);
  /*outline: 1px solid red;*/
}

.btn-common {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 8rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.btn-next {
  bottom: 1rem;
  right: 1rem;
}

.btn-prev {
  bottom: 1rem;
  left: 1rem;
}

.btn-touchable.touched {
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: -2px;
  margin-top: -2px;
}


/******************************************************************/

.p0 {
  background: url(../img/bg.png?v=2) no-repeat center center;
  background-size: cover;
  display: none;
  z-index: 2000;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}
.p0 .content {
  background: url(../img/load_cont.png?v=2) no-repeat center center;
  background-size: 100% 100%;
}
.p0-card-box{
  position: absolute;
  top: 26.6rem;
  /*left: 14.6rem;*/
  left: 0;
  right: 0;
  overflow: hidden;
}
.p0-card-img{
  margin: 0 auto;
  width: 8.15rem;
  height: 13.3rem;
  display: block;
}
.p0-down-out {
  -webkit-animation: p0contOut 3s ease forwards;
  animation: p0contOut 3s ease forwards;
}

/*报纸进来的动画*/

@-webkit-keyframes p0contOut {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes p0contOut {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.p0-loading {
  width: 5rem;
  height: 5rem;
  position: absolute;
  position: absolute;
  top: 70%;
  left: 70%;
  -webkit-transform: translate3d(-70%, -70%, 0);
  transform: translate3d(-70%, -70%, 0);
}

.p0-process {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
}


/******************************************************************/

.p1 {
  background: url(../img/p1bg.png?v=2) no-repeat center center;
  background-size: cover;
}
.p1-btn{
  height: 4rem;
  width: 21.5rem;
  position: absolute;
  bottom: 6.25rem;
  left: 0;
  right: 0;
  margin: auto;
}
.p1-btn-img{
  width: 100%;
  height: 100%;
}
.p1-logo{
  height: 4.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.p1-logo-img{
  width: 100%;
  height: 100%;
}
.p1 .p1-say5{
  background: url(../img/p1_say51.png?v=2) no-repeat center center;
  background-size: 100% 100%;
  width: 2.15rem;
  height: 1.45rem;
  position: absolute;
  /*left: 13.6rem;*/
  /*top: 16rem;*/
  left: 10rem;
  top: 14.4rem;
  display: none;
}
.p1-say5-animate{
  -webkit-animation: p1SayBg5 1s step-start forwards;
  animation: p1SayBg5 1s step-start forwards;
}
@keyframes p1SayBg5 {
  70% {
    background: url("../img/p1_say52.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say53.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
@-webkit-keyframes p1SayBg5 {
  70% {
    background: url("../img/p1_say52.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say53.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
.p1 .p1-say4{
  background: url(../img/p1_say41.png?v=2) no-repeat center center;
  background-size: 100% 100%;
  width: 2.9rem;
  height: 1.85rem;
  position: absolute;
  /*left: 5rem;*/
  /*top: 21rem;*/
  left: 8.6rem;
  top: 18.3rem;
  display: none;
}
.p1-say4-animate{
  -webkit-animation: p1SayBg4 1s step-start forwards;
  animation: p1SayBg4 1s step-start forwards;
}
@keyframes p1SayBg4 {
  70% {
    background: url("../img/p1_say42.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say43.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
@-webkit-keyframes p1SayBg4 {
  70% {
    background: url("../img/p1_say42.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say43.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
.p1 .p1-say3{
  background: url(../img/p1_say31.png?v=2) no-repeat center center;
  background-size: 100% 100%;
  width: 10.85rem;
  height: 7.25rem;
  position: absolute;
  left: 4.05rem;
  top: 24rem;
  display: none;
}
.p1-say3-animate{
  -webkit-animation: p1SayBg3 1s step-start forwards;
  animation: p1SayBg3 1s step-start forwards;
}
@keyframes p1SayBg3 {
  70% {
    background: url("../img/p1_say32.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say33.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
@-webkit-keyframes p1SayBg3 {
  70% {
    background: url("../img/p1_say32.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say33.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
.p1 .p1-say2{
  background: url(../img/p1_say21.png?v=2) no-repeat center center;
  background-size: 100% 100%;
  width: 13.35rem;
  height: 8.95rem;
  position: absolute;
  /*left: 10.45rem;*/
  /*top: 37rem;*/
  left: 0;
  top: 21.6rem;
  display: none;
}
.p1-say2-animate{
  -webkit-animation: p1SayBg2 1s step-start forwards;
  animation: p1SayBg2 1s step-start forwards;
}
@keyframes p1SayBg2 {
  70% {
    background: url("../img/p1_say22.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say23.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
@-webkit-keyframes p1SayBg2 {
  70% {
    background: url("../img/p1_say22.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say23.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
.p1 .p1-say1{
  /*background: url(../img/p1_say11.png?v=2) no-repeat center center;*/
  background: url(../img/p1_say13.png?v=2) no-repeat center center;
  background-size: 100% 100%;
  width: 17.65rem;
  height: 11.8rem;
  position: absolute;
  left: 13.25rem;
  /*top: 46rem;*/
  top: 37.4rem;
}
.p1-say1-animate{
  -webkit-animation: p1SayBg1 1s step-start forwards;
  animation: p1SayBg1 1s step-start forwards;
}
@keyframes p1SayBg1 {
  70% {
    background: url("../img/p1_say12.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say13.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
@-webkit-keyframes p1SayBg1 {
  70% {
    background: url("../img/p1_say12.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url("../img/p1_say13.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}

.p1dd1{
  background: url("../img/p1_say13.png?v=2") no-repeat center center !important;
  background-size: 100% 100% !important;
  animation: p1rotate 2s infinite;
  -webkit-animation: p1rotate 2s infinite;
}
.p1dd2{
  background: url("../img/p1_say23.png?v=2") no-repeat center center !important;
  background-size: 100% 100% !important;
  animation: p1rotate 2s infinite;
  -webkit-animation: p1rotate 2s infinite;
}
.p1dd3{
  background: url("../img/p1_say33.png?v=2") no-repeat center center !important;
  background-size: 100% 100% !important;
  animation: p1rotate 2s infinite;
  -webkit-animation: p1rotate 2s infinite;
}
.p1dd4{
  background: url("../img/p1_say43.png?v=2") no-repeat center center !important;
  background-size: 100% 100% !important;
  animation: p1rotate 2s infinite;
  -webkit-animation: p1rotate 2s infinite;
}
.p1dd5{
  background: url("../img/p1_say53.png?v=2") no-repeat center center !important;
  background-size: 100% 100% !important;
  animation: p1rotate 2s infinite;
  -webkit-animation: p1rotate 2s infinite;
}
@keyframes p1rotate {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: rotate(1deg);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: rotate(-1deg);
  }
}
@-webkit-keyframes p1rotate {
  0%, 100% {
    -webkit-transform: rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: rotate(1deg);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: rotate(-1deg);
  }
}

/******************************************************************/
.clearfix{
  clear:both;
}
.clearfix:after{
  display:table;
  content:"";
  clear:both;
}
.clearfix:before{
  display:table;
  content:"";
}
.fl{
  float: left;
}
.p2 {
  background: url(../img/p2bg.png?v=2) no-repeat center center;
  background-size: cover;
}
.p2 .content{
  overflow-x: initial;
}
.p2-total-box{
  height: 4rem;
  position: absolute;
  top: 0;
  padding-left: 2rem;
}
.p2-total-img{
  height: 1.55rem;
  width: 5.45rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.p2-total-number{
  color: #e25958;
  font-size: 1.6rem;
  position: absolute;
  left: 8rem;
  height: 4rem;
  line-height: 4rem;
}
.p2-jump-box{
  /*background: url("../img/p2_jump_bg.png?v=2") no-repeat center center;*/
  /*background-size: auto 100%;*/
  /*background-position: -2rem 0;*/
  height: 16.7rem;
  position: relative;
  top: 4rem;
}
.pa-jump-box-img{
  height: 100%;
  -webkit-transform: translateX(-2rem);
  transform: translateX(-2rem);
}
.p2-jump-show{
  display: none;
  width: 8.35rem;
  height: 2.35rem;
  position: absolute;
  top: -2rem;
  left: 14.5rem;
}
.p2-jump-error{
  display: none;
  width: 8.35rem;
  height: 2.35rem;
  position: absolute;
  top: -2rem;
  left: 14.5rem;
}
.p2-jump-bai{
  display: none;
  width: 11.95rem;
  height: 10.6rem;
  position: absolute;
  top: -4rem;
  left: 24.5rem;
}
.p2-jump-people{
  background: url("../img/p2_jump1.png?v=2") no-repeat center center;
  background-size: 100% 100%;
  width: 8rem;
  height: 11rem;
  position: absolute;
  top: 1rem;
  left: 14.5rem;
}
.p2-jump-animate{
  -webkit-animation: p2Jump 1s step-start;
  animation: p2Jump 1s step-start;
}
@keyframes p2Jump {
  70% {
    background: url("../img/p2_jump2.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
@-webkit-keyframes p2Jump {
  70% {
    background: url("../img/p2_jump2.png?v=2") no-repeat center center;
    background-size: 100% 100%;
  }
}
.p2-train-box{
  /*background: url("../img/p2_train.png?v=2") no-repeat center center;*/
  /*background-size: auto 100%;*/
  /*background-position: -329rem 0;*/
  height: 30rem;
  margin-top: 7rem;
  position: relative;
}
.p2-train-img{
  height: 100%;
  -webkit-transform: translateX(-329rem);
  transform: translateX(-329rem);
}
.p2-train-answer{
  position: absolute;
  top: 9.8rem;
  width: 5.7rem;
  height: 7rem;
}
.p2-train-answer-active{
  background-color: rgba(255,255,255,.7);
}
.p2-train-succ-answer{
  background: url("../img/succ.png?v=2") no-repeat center center;
  background-size: 100% 100%;
}
.p2-train-answer1{
  left: 1rem;
}
.p2-train-answer2{
  left: 7rem;
}
.p2-train-answer3{
  left: 13rem;
}
.p2-train-answer4{
  left: 19rem;
}
.p2-train-answer5{
  left: 25rem;
}
.p2-train-answer6{
  left: 31.1rem;
}
.p2-btn{
  background: url("../img/p2_button.png?v=2") no-repeat center center;
  background-size: 100% 100%;
  width: 14.55rem;
  height: 3.55rem;
  margin: 3rem auto 0;
}

/******************************************************************/

.p3 {
  background: url(../img/p3bg.png?v=4) no-repeat center center;
  background-size: cover;
}
.p3 .content{
  /* background: url(../img/p3_cont.png?v=2) no-repeat center center; */
  background-size: 100% 100%;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  transform: none;
  /*-webkit-transform: none;*/
  margin: auto;
  /*position:relative;*/
}
/* .text-font{
  font-family:Arial;
  font-weight:bold;
  font-size:1.6rem;
} */
.text-beat{
  position:absolute;
  top:11.5rem;
  left:7.6rem;
  font-family:Arial;
  font-weight:bold;
  font-size:1.6rem;
}
.text-second{
  position:absolute;
  top:11.5rem;
  left:22.9rem;
  font-family:Arial;
  font-weight:bold;
  font-size:1.6rem;
}
.text-true{
  position:absolute;
  top:11.5rem;
  left:8.4rem;
  font-family:Arial;
  font-weight:bold;
  font-size:1.6rem;
}
.text-score{
  position:absolute;
  top:9.1rem;
  left:28.4rem;
  font-family:Arial;
  font-weight:bold;
  font-size:1.6rem;
}
.p3-box-ticket{
  width:29.3rem;
  height:17.9rem;
  position:absolute;
  left:3.3rem;
  top:31.6rem;
  overflow:hidden;
}
.p3-ticket-img{
  width:29.3rem;
  height:17.9rem;
  position:absolute;
  left:0rem;
  top:-17.9rem;
  transition:2s all;
  -webkit-transition: 2s all;
}
.p3-outer-box{
  width:29.3rem;
  height:17.9rem;
  position:relative;
}
.ticket-show{
  -webkit-transform: translateY(17.9rem);
  transform: translateY(17.9rem);
}
.p3-box-btn{
  width:33.8rem;
  height:3.3rem;
  position:absolute;
  bottom:5.3rem;
  left:2.5rem;
  margin-left:-2rem;
}
.p3-box-btn-click{
  width:33.8rem;
  height:3.3rem;
  position:absolute;
  bottom:5.3rem;
  left:2.5rem;
  margin-left:-2rem;
  z-index:10000000;
  opacity:0;
}
.p3-btn{
  width:14.7rem;
  height:3.5rem;
  margin-left:2rem;
  display:inline-block;
}
.long-click-save{
  width:7.5rem;
  height:1.7rem;
  position:absolute;
  bottom:10rem;
  left:14.5rem;
}
#p3-canvas{
  position:absolute;
  z-index:100000;
  opacity:0;
  /* width:100%;
  height:100%; */
  /* background: url(../img/p3_cont.png?v=2) no-repeat center center;
  background-size: 100% 100%; */
}
.img-layer{
  position:absolute;
  z-index:100001;
  width:100%;
  height:100%;
  opacity:0;
} 

/******************************************************************/

.dialog1 {}

.dialog1-box {
  position: absolute;
  width: 70%;
  top: 70%;
  left: 70%;
  -webkit-transform: translate3d(-70%, -70%, 0);
  transform: translate3d(-70%, -70%, 0);
}

.dialog1-btn-get {
  bottom: 1rem;
  left: 70%;
  -webkit-transform: translate3d(-70%, 0%, 0);
  transform: translate3d(-70%, 0%, 0);
}

.dialog1-bg {
  width: 100%;
}


/******************************************************************/

.d-share {}

.d-share-hint {
  width: 100%;
}


/******************************************************************/

.d-loading {}

/******************************************************************/

.d-tips{
  width: 100%;
}
.d-tips img{
  width: 100%;
}