@charset "utf-8";
body {
  width: 100%;
  /*max-width: 600px;*/
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #000;
  overflow: hidden;
}


/*********************************************************/

.tag-music-on {
  -webkit-animation: flatRotate 2s linear infinite;
}

.branch,
.dialog,
.page {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.dialog {
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.branch {
  font-size: 3rem;
  color: #fff;
}

.clearfix {
  clear: both;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.clearfix:before {
  display: table;
  content: "";
}

.fl {
  float: left;
}

.fr {
  float: right;
}


/*loading 菊花*/

.loading-div {
  background: url(data:image/gif;base64,R0lGODlhGQAZAKIEAMzMzJmZmTMzM2ZmZgAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAAEACwAAAAAGQAZAAADVki63P4wSEiZvLXemRf4yhYoQ0l9aMiVLISCDms+L/DIwwnfc+c3qZ9g6Hn5hkhF7YgUKI2dpvNpExJ/WKquSoMCvd9geDeuBpcuGFrcQWep5Df7jU0AACH5BAUAAAQALAoAAQAOABQAAAMwSLDU/iu+Gdl0FbTAqeXg5YCdSJCBuZVqKw5wC8/qHJv2IN+uKvytn9AnFBCHx0cCACH5BAUAAAQALAoABAAOABQAAAMzSLoEzrC5F9Wk9YK6Jv8gEYzgaH4myaVBqYbfIINyHdcDI+wKniu7YG+2CPI4RgFI+EkAACH5BAUAAAQALAQACgAUAA4AAAMzSLrcBNDJBeuUNd6WwXbWtwnkFZwMqUpnu6il06IKLChDrsxBGufAHW0C1IlwxeMieEkAACH5BAUAAAQALAEACgAUAA4AAAM0SLLU/lAtFquctk6aIe5gGA1kBpwPqVZn66hl1KINPDRB3sxAGufAHc0C1IkIxcARZ4QkAAAh+QQFAAAEACwBAAQADgAUAAADMUhK0vurSfiko8oKHC//yyCCYvmVI4cOZAq+UCCDcv3VM4cHCuDHOZ/wI/xxigDQMAEAIfkEBQAABAAsAQABAA4AFAAAAzNIuizOkLgZ13xraHVF1puEKWBYlUP1pWrLBLALz+0cq3Yg324PAUAXcNgaBlVGgPAISQAAIfkEBQAABAAsAQABABQADgAAAzRIujzOMBJHpaXPksAVHoogMlzpZWK6lF2UjgobSK9AtjSs7QTg8xCfELgQ/og9I1IxXCYAADs=) no-repeat center center;
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  /* outline: 1px solid red; */
}

.btn-common {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 8rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.btn-next {
  bottom: 1rem;
  right: 1rem;
}

.btn-prev {
  bottom: 1rem;
  left: 1rem;
}

.btn-touchable.touched {
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: -2px;
  margin-top: -2px;
}

.hide {
  display: none;
}


/******************************************************************/

.p0 {
  background: url('../img/p0bg.jpg?v=1') no-repeat center center;
  background-size: cover;
  display: none;
  z-index: 2000;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

.p0-img-disk-pointer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  animation: diskPointer 2s forwards;
  -webkit-animation: diskPointer 2s forwards;
}

@keyframes diskPointer {
  from {
    transform: rotate(-20deg);
    transform-origin: 62% 40.88%;
    -webkit-transform: rotate(-20deg);
    -webkit-transform-origin: 62% 40.88%;
  }
  to {
    transform: rotate(0deg);
    transform-origin: 62% 40.88%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 62% 40.88%;
  }
}

@-webkit-keyframes diskPointer {
  from {
    transform: rotate(-20deg);
    transform-origin: 62% 40.88%;
    -webkit-transform: rotate(-20deg);
    -webkit-transform-origin: 62% 40.88%;
  }
  to {
    transform: rotate(0deg);
    transform-origin: 62% 40.88%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 62% 40.88%;
  }
}

.p0-img-disk-light {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  width: 100%;
  -webkit-animation: diskLight 1s 2s forwards;
  animation: diskLight 1s 2s forwards;
  opacity: 0;
}

@keyframes diskLight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes diskLight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.p0-img-disk {
  width: 100%;
  height: 100%;
}

.p0-img-disk-rotate-box {
  width: 3.1rem;
  height: 3.1rem;
  position: absolute;
  top: 30.1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.p0-img-disk-rotate {
  width: 100%;
  height: 100%;
  -webkit-animation: diskRotate 3s 2s forwards infinite linear;
  animation: diskRotate 3s 2s forwards infinite linear;
}

@keyframes diskRotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes diskRotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

/******************************************************************/


/*开场动画页*/

.p1 {
  background: url('../img/p1bg.jpg?v=1') no-repeat center center;
  background-size: cover;
  position: relative;
}

.p1-user-icon {
  position: absolute;
  top: 20px;
  right: 58px;
  width: 22px;
  height: 22px;
  z-index: 9999;
}

.p1-user-icon-img {
  width: 100%;
  height: 100%;
}

.p1-content-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  opacity: 0;
}

.p1-content-img-animate {
  animation: p1ContentImgAnimate 2s 0.5s forwards cubic-bezier(.3, 1.3, .66, 1.28);
  -webkit-animation: p1ContentImgAnimate 2s 0.5s forwards cubic-bezier(.3, 1.3, .66, 1.28);
}

@keyframes p1ContentImgAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes p1ContentImgAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.p1-content-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.p1-btn {
  background: url('../img/p1_btn.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 19.2rem;
  height: 3.2rem;
  margin: 0 auto;
  position: absolute;
  top: 54rem;
  left: 0;
  right: 0;
  z-index: 100;
}

.p1-btn:active {
  background: url('../img/p1_btn_active.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}


/******************************************************************/


/*上传照片页*/

.p2 {
  background: url('../img/p2bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}

.p2 .content {
  background: url('../img/p2_cont.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p2-input-box {
  position: absolute;
  top: 16rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.p2-input {
  width: 16rem;
  height: 0rem;
  padding: 1.6rem 1.0rem;
  line-height: normal;
  color: #e3af69;
  font-size: 1.8rem;
  border: 1px solid #e8ad66;
  background: transparent;
}

.p2-photo-box-box {
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 23rem;
  width: 18rem;
  background: url('../img/p2_photo_border.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  /*overflow: hidden;*/
}

.p2-photo-box-box .p2-photo-succ {
  background: url('../img/p2_phone_succ.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  width: 4rem;
  height: 4rem;
  /*top: 0;*/
  left: 0;
  right: 0;
  bottom: -0.9rem;
  margin: auto;
  z-index: 99;
  /*display: none;*/
}

.p2-photo-box {
  position: absolute;
  top: 1.3rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  margin: 0 auto;
  overflow: hidden;
  background: url('../img/p2_phone_cont.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p2-photo-box.p2-photo-active {
  background: none;
}

.p2-btn {
  background: url('../img/p2_btn.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 19.1rem;
  height: 3.2rem;
  position: absolute;
  bottom: 6.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.p2-btn:active {
  background: url('../img/p2_btn_active.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p2-img-input {
  height: 0;
  width: 0;
}

.p2-rule {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 8.8rem;
  height: 1.5rem;
}

.p2-rule-text {
  width: 100%;
  height: 100%;
}


/******************************************************************/


/*选择封皮*/

.p3 {
  background: url('../img/p3bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}

.p3 .content {
  background: url('../img/p3_content.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p3-title {
  color: #c96238;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.p3 .p3-swiper {
  /*margin-top: 8rem;*/
  height: 43.7rem;
  /*width: 24rem;*/
  /*margin: 0 auto;*/
  text-align: center;
}

.p3 .p3-swiper .slick-img-box {
  width: 100%;
  height: 100%;
}

.p3 .p3-swiper img {
  width: 100%;
  /*height: 100%;*/
}

.p3 .p3-swiper-next-btn {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;

  background: url('../img/arrow_right.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 0.8rem;
  height: 1.3rem;
  right: 4.2rem;
}

.p3 .p3-swiper-prev-btn {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;

  background: url('../img/arrow_left.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 0.8rem;
  height: 1.3rem;
  left: 4.2rem;
}

.p3-btn-box {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 9.3rem;
}

.p3-margin-right2 {
  margin-right: 5.6rem;
}

.btn-prev {
  width: 12.2rem;
  height: 3.2rem;
  background: url("../img/p3_prev_btn.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
}
.btn-prev:active{
  background: url("../img/p3_prev_btn_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.p3-btn-next {
  width: 12.2rem;
  height: 3.2rem;
  background: url("../img/p3_submit_btn.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
}

.p3-btn-next:active {
  background: url("../img/p3_submit_btn_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}



/******************************************************************/


/*选择（编辑）祝福语*/

.p4 {
  background: url('../img/p5bg.jpg?v=1') no-repeat center center;
  background-size: cover;

}

.p4 .content {
  background: url('../img/p4_content_bg.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p4-username {
  color: #e3af69;
  font-size: 1.6rem;
  margin-top: 2rem;
  /*text-indent: 2rem;*/
}

.p4-name-top {
  text-align: left;
  position: absolute;
  top: 19.4rem;
  left: 10rem;
}

.p4-name-bottom {
  text-align: right;
  position: absolute;
  top: 32.6rem;
  /*left: 5.5rem;*/
  right: 5.5rem;
  background: transparent;
  border: none;
  outline: none;
}

.p4 .p4-swiper {
  margin-top: 27rem;
  height: 10.4rem;
  text-align: center;
}

.p4 .p4-swiper .slick-txt-box {
  width: 68%;
  height: 100%;
  line-height: 2.6rem;
  border: none;
  background: none;
  font-size: 1.4rem;
  resize: none;
  color: #e3af69;
}

.p4-textarea-box{
  margin-top: 24rem;
  height: 10.4rem;
  text-align: center;
  display: none;
}

.p4-txt-box-bg {
  /*background: url("../img/textarea_bg.png?v=1") repeat-y;*/
}

.p4 .p4-swiper-next-btn {
  background: url(../img/arrow_right.png?v=1) no-repeat center center;
  background-size: 100% 100%;
  width: 0.8rem;
  height: 1.3rem;
}

.p4 .p4-swiper-prev-btn {
  background: url('../img/arrow_left.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 0.8rem;
  height: 1.3rem;
}

.p4 .swiper-slide {
  text-align: center;
  font-size: 2rem;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.p4-textarea {
    width: 68%;
    height: 100%;
    line-height: 2.6rem;
    border: none;
    background: none;
    font-size: 1.4rem;
    resize: none;
    color: #e3af69;
}

.p4-btn-box {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 3.6rem;
}

.p4-margin-right2 {
  margin-right: 5.6rem;
}

.p4-btn-mail-box{
  width: 8.7rem;
  height: 2.8rem;
  top: 43.1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.p4-btn-mail-btn-own{
  background: url("../img/p4_mail_btn_own.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.p4-btn-mail-btn-select{
  background: url("../img/p4_mail_btn_select.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.btn-prev {
  width: 12.2rem;
  height: 3.2rem;
  background: url("../img/p3_prev_btn.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
}
.btn-prev:active{
  background: url("../img/p3_prev_btn_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.p4-btn-next {
  width: 12.2rem;
  height: 3.2rem;
  background: url("../img/p4_submit_btn.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
}

.p4-btn-next:active {
  width: 12.2rem;
  height: 3.2rem;
  background: url("../img/p4_submit_btn_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
}

/******************************************************************/


/*分享*/

.p5 {
  background: url('../img/p5bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}

.p5-content1 {
  background: url('../img/p5bg_1.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

/*贺卡封皮*/

.p5-card-cover {
  /*background: url('../img/p5_card_cover.png?v=1') no-repeat center center;*/
  /*background-size: 100% 100%;*/
  width: 100%;
  /*height: 100%;*/
  height: 43.7rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.p5-cover-sprite{
  width: 100%;
  height: auto;
}

.p5-3d-box {
  height: 100%;
  width: 100%;
  -webkit-perspective: -2rem;
  perspective: -2rem;
}

/*贺卡信纸*/

.p5-card-box {
  width: 100%;
  height: 49.6rem;
  /*position: relative;*/
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /*z-index: 2;*/
  overflow: hidden;
}

.p5-card {
  background: url('../img/p5_cont.png?v=2') no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p5-card-img-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 11rem;
}

.p5-card-img-box img {
  width: 100%;
  height: 100%;
}

.p5-card-font {
  position: absolute;
  color: #e8ad66;
  font-size: 1.5rem;
}

.p5-card-friend-name {
  top: 21.4rem;
  left: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10rem;
}

.p5-card-cont {
  top: 24.3rem;
  left: 6rem;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  width: 26.4rem;
  height: 10rem;
  line-height: 2.6rem;
}

.p5-card-my-name {
  top: 34.6rem;
  right: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20rem;
  text-align: right;
}

/*信封上面*/

.p5-envelope1 {
  background: url("../img/p5_envelope1.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: 3;*/
  /*display: none;*/
}

.p5-envelope-in {
  -webkit-transform: translateY(120%);
  transform: translateY(120%);
}

.p5-down-in {
  -webkit-animation: p5cardIn 2s ease forwards;
  animation: p5cardIn 2s ease forwards;
}

/*信封进来的动画*/

@-webkit-keyframes p5cardIn {
  0% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  } 
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*信封进来的动画*/

@keyframes p5cardIn {
  0% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.p5-down-out {
  -webkit-animation: p5contOut 3s ease forwards;
  animation: p5contOut 3s ease forwards;
}

/*信纸出去的动画*/

@-webkit-keyframes p5contOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(57%);
    transform: translateY(57%);
  }
}

/*信纸出去的动画*/

@keyframes p5contOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(57%);
    transform: translateY(57%);
  }
}

/*信封底面*/

.p5-envelope2 {
  /*background: url("../img/p5_envelope2.png?v=1") no-repeat center center;*/
  /*background-size: 100% 100%;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: 1;*/
  /*display: none;*/
}

.p5-envelope2-img-box {
  position: absolute;
  left: 0;
  width: 100%;
}

.p5-envelope2-img-box img {
  width: 100%;
  height: 100%;
}

/*信封三角底*/
.p5-envelope20 {
  top: 0;
  height: 28.4rem;
  /*transform: rotateY(0deg);*/
  /*-webkit-transform: rotateY(0deg);*/
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.p5-envelope21 {
  top: 28.4rem;
  height: 34.1rem;
}

/*信封盖*/

.p5-envelope3 {
  background: url("../img/p5_envelope3.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*display: none;*/
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform-origin: center 28.4rem;
  -webkit-transform-origin: center 28.4rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*z-index: 4;*/
}

.p5-envelopt2-rotate {
  animation: p5enveRotate 2s linear 1 forwards;
  -webkit-animation: p5enveRotate 2s linear 1 forwards;
}

.p5-envelopt3-rotate {
  animation: p5enveRotate1 2s linear 1 forwards;
  -webkit-animation: p5enveRotate1 2s linear 1 forwards;

}

/*翻书下一页的动画*/

@keyframes p5enveRotate {
  0% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 1;*/
  }
}

@-webkit-keyframes p5enveRotate {
  0% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 1;*/
  }
}

/*翻书上一页的动画*/

@keyframes p5enveRotate1 {
  0% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 10;*/
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
}

@-webkit-keyframes p5enveRotate1 {
  0% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 10;*/
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
}

.p5-btn-box {
  width: 100%;
  position: absolute;
  top: 54.3rem;
  left: 0;
  /*height: 11rem;*/
  display: none;
  z-index: 9999;
}

.p5-btn-prev {
  width: 9.8rem;
  height: 3.2rem;
  background: url("../img/p5_btn_prev.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  margin-right: 1.3rem;

}

.p5-btn-prev:active {
  background: url("../img/p5_btn_prev_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.p5-btn-bottom {
  padding: 0 3rem;
  width: 100%;
}

.p5-btn-friend {
  width: 9.8rem;
  height: 3.2rem;
  background: url("../img/p5_btn_friends.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  margin-right: 1.3rem;
}

.p5-btn-friend:active {
  background: url("../img/p5_btn_friends_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.p5-btn-friend-circle {
  width: 9.8rem;
  height: 3.2rem;
  background: url("../img/p5_btn_friends_circle1.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.p5-btn-friend-circle:active {
  background: url("../img/p5_btn_friends_circle_active1.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

/******************************************************************/


#p6-scene{
  /*width: 100%; */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
 

.btn-circle,
.btn-circle>b,
.btn-circle>i{
  opacity: 0.9;
  position: absolute;
  width: 30px;
  height: 30px;
  border:#fff solid 2px ;
  box-sizing:border-box;
  border-radius: 15px;
  display: block;
}
.btn-circle{
  margin-top: -15px;
  margin-left: -15px;
}

.btn-circle>b,
.btn-circle>i{
  border:#fff solid 1px ;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.btn-circle>b{
  -webkit-animation: btn-circle-ani 3s ease 1s infinite;
  animation: btn-circle-ani 3s ease 1s infinite;
}
.btn-circle>i{
  -webkit-animation: 'btn-circle-ani' 3s ease  2s infinite;
  animation: 'btn-circle-ani' 3s ease  2s infinite;
}

@-webkit-keyframes  btn-circle-ani  {
  0% {
    opacity: 0.9;
    transform: translate3d(-50%,-50%,0) scale(1);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1);
  }
  60% {
    opacity: 0.5;
    transform: translate3d(-50%,-50%,0) scale(1.5);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate3d(-50%,-50%,0) scale(1.5);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1.5);
  }
}

@keyframes  btn-circle-ani  {
  0% {
    opacity: 0.9;
    transform: translate3d(-50%,-50%,0) scale(1);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1);
  }
  60% {
    opacity: 0.5;
    transform: translate3d(-50%,-50%,0) scale(1.5);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translate3d(-50%,-50%,0) scale(1.5);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1.5);
  }
}

.p6-btn1{
  position: absolute;
  left: 11%;
  top: 37%
}

.p6-btn2{
  position: absolute;
  left: 45%;
  top: 74%
}

.p6-btn3{
  position: absolute;
  left: 60%;
  top: 59%
}
.p6-btn4{
  position: absolute;
  left: 67%;
  top: 86%
}
.p6-hint{
  display: block;
}

 
/******************************************************************/


/*好友进来首页，展示贺卡*/

.p7 {
  background: url('../img/p5bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}

.p7 .content {
  background: url('../img/p7_cont.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p7-card {
  background: url('../img/p7_card.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p7-btn-box {
  width: 100%;
  position: absolute;
  top: 59.7rem;
  left: 0;
  text-align: center;
}

.p7-margin-right2 {
  margin-right: 2rem;
}

.p7-btn-next {
  background: url('../img/p7_btn_next.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}
.p7-btn-next:active{
  background: url('../img/p7_btn_next_active.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p7-btn-index {
  background: url('../img/p7_btn_index.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}
.p7-btn-index:active{
  background: url('../img/p7_btn_index_active.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p7-btn {
  width: 12.2rem;
  height: 3.2rem;
  border: none;
  padding: 0;
}


/******************************************************************/


/*拍照上传*/

.p8 {
  background: url('../img/p8bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}

.p8-photo-box-box {
  position: absolute;
  top: 18.7rem;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  height: 26.7rem;
  width: 21.25rem;
  background: url('../img/p8_photo.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p8-photo-box {
  position: absolute;
  top: 2.3rem;
  left: 2.1rem;
  right: 2.1rem;
  bottom: 2.5rem;
  overflow: hidden;
}
.p8-cont{
  position: absolute;
  top: 45rem;
  left: 0;
  right: 0;
  margin: auto;
  height: 3rem;
  width: 20rem;
  background: url('../img/p8_cont.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}
.p8-btn-box {
  width: 100%;
  position: absolute;
  top: 52rem;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.p8-margin-right2 {
  margin-right: 2rem;
}

.p8-btn {
  width: 12.2rem;
  height: 3.2rem;
  border: none;
  padding: 0;
}

.p8-reset-btn {
  background: url("../img/p8_btn_again.png?v=2") no-repeat center center;
  background-size: 100% 100%;
}
.p8-reset-btn:active{
  background: url("../img/p8_btn_again_active.png?v=2") no-repeat center center;
  background-size: 100% 100%;
}

.p8-ok-btn {
  background: url("../img/p8_btn_submit.png?v=2") no-repeat center center;
  background-size: 100% 100%;
}
.p8-ok-btn:active{
  background: url("../img/p8_btn_submit_active.png?v=2") no-repeat center center;
  background-size: 100% 100%;
}
.p8-img-input {
  height: 0;
  width: 0;
}


/******************************************************************/


/*成功解锁*/
.p9 {
  background: url('../img/p5bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}
.p9-3d-box{
  height: 100%;
  width: 100%;
  -webkit-perspective: -2rem;
  perspective: -2rem;
}

/*贺卡信纸*/
.p9-card-box {
  width: 100%;
  height: 49.6rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /*z-index: 2;*/
  overflow: hidden;
}
/*贺卡封皮*/

.p9-card-cover {
  /*background: url('../img/p5_card_cover.png?v=1') no-repeat center center;*/
  /*background-size: 100% 100%;*/
  /*background-color: #141414;*/
  width: 100%;
  /*height: 80%;*/
  margin: 0 auto;
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /*z-index: 2;*/
  -webkit-transform: translateY(57%);
  transform: translateY(57%);
}
.p9-cover-sprite{
  width: 100%;
  height: auto;
}
.p9-card-cover img{
  width: 100%;
  height: 100%;
}
/*贺卡内容*/
.p9-card {
  /*background: url('../img/p9_card.png?v=1') no-repeat center center;*/
  /*background-size: 100% 100%;*/
  width: 100%;
  height: 100%;
/*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(57%);
  transform: translateY(57%);
}
.p9-card img{
  width: 100%;
  height: 100%;
}


/*信封上面*/

.p9-envelope1 {
  background: url("../img/p5_envelope1.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: 3;*/
  display: none;
}

.p9-envelope-in {
  display: none;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.p9-down-out {
  animation: p9cardOut 2s ease forwards;
  -webkit-animation: p9cardOut 2s ease forwards;

}


/*信封出去的动画*/

@-webkit-keyframes p9cardOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
}


/*信封出去的动画*/

@keyframes p9cardOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
}

.p9-down-in {
  animation: p9contIn 3s ease forwards;
  -webkit-animation: p9contIn 3s ease forwards;
}


/*信纸进来的动画*/

@-webkit-keyframes p9contIn {
  0% {
    -webkit-transform: translateY(57%);
    transform: translateY(57%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/*信纸进来的动画*/

@keyframes p9contIn {
  0% {
    -webkit-transform: translateY(57%);
    transform: translateY(57%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/*信封底面*/

.p9-envelope2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: 1;*/
  display: none;
}

.p9-envelope2-img-box {
  position: absolute;
  left: 0;
  width: 100%;
}

.p9-envelope2-img-box img {
  width: 100%;
  height: 100%;
}

.p9-envelope20 {
  top: 0;
  height: 28.4rem;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.p9-envelope21 {
  top: 28.4rem;
  height: 34.1rem;
}


/*信封盖*/

.p9-envelope3 {
  background: url("../img/p5_envelope3.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*display: none;*/
  transform-origin: center 28.4rem;
  -webkit-transform-origin: center 28.4rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*z-index: 4;*/
}

.p9-envelopt2-rotate {
  animation: p9enveRotate1 2s linear 1 forwards;
  -webkit-animation: p9enveRotate1 2s linear 1 forwards;

}

.p9-envelopt3-rotate {
  animation: p9enveRotate 2s linear 1 forwards;
  -webkit-animation: p9enveRotate 2s linear 1 forwards;

}


/*翻书下一页的动画*/

@keyframes p9enveRotate {
  0% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 1;*/
  }
}

@-webkit-keyframes p9enveRotate {
  0% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 1;*/
  }
}


/*翻书上一页的动画*/

@keyframes p9enveRotate1 {
  0% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 10;*/
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
}

@-webkit-keyframes p9enveRotate1 {
  0% {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    /*z-index: 10;*/
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
}

.p9-cont-tips{
  width: 7.5rem;
  height: 1.25rem;
  margin: 0 auto;
  background: url("../img/p9_cont.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 52rem;
  left: 0;
  right: 0;
  display: none;
}

.p9-btn-box {
  width: 100%;
  position: absolute;
  top: 54.25rem;
  /*bottom: 0;*/
  left: 0;
  /*height: 7rem;*/
  padding: 0 4rem;
  display: none;
  z-index: 9999;
}

.p9-btn-friend {
  width: 12rem;
  height: 3rem;
  background: url("../img/p9_btn_friend.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  margin-right: 5rem;
}
.p9-btn-friend:active{
  background: url("../img/p9_btn_friend_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}

.p9-btn-again {
  width: 12rem;
  height: 3rem;
  background: url("../img/p7_btn_index.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}
.p9-btn-again:active{
  background: url('../img/p7_btn_index_active.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p9-save-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 999;
}

/******************************************************************/


/*解锁失败*/

.p10 {
  background: url('../img/p5bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}

.p10 .content {
  background: url('../img/p10_cont.png?v=2') no-repeat center center;
  background-size: 100% 100%;
}

.p10-card {
  background: url('../img/p7_card.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p10-btn-box {
  width: 100%;
  position: absolute;
  top: 55.7rem;
  left: 0;
  text-align: center;
}

.p10-margin-right2 {
  margin-right: 2rem;
}

.p10-btn-again {
  background: url('../img/p10_btn_again.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p10-btn-index {
  background: url('../img/p7_btn_index.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}
.p10-btn-index:active{
  background: url('../img/p7_btn_index_active.png?v=1') no-repeat center center;
  background-size: 100% 100%;
}

.p10-btn {
  width: 12.2rem;
  height: 3.2rem;
  border: none;
  padding: 0;
}


/******************************************************************/


/*个人中心*/

.p11 {
  background: url('../img/p5bg.jpg?v=1') no-repeat center center;
  background-size: cover;
}

.p11 .p11-content1 {
  background: url('../img/p11bg_1.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 11.5rem;
  z-index: 999;
}

.p11 .p11-swiper {
  height: 49.6rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: visible!important;
}

.p11 .p11-swiper .slick-img-box {
  width: 100%;
  height: 100%;
}

.p11 .p11-swiper img {
  width: 100%;
  height: 100%;
}

.p11 .p11-swiper-next-btn {
  background: url('../img/arrow_right.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 0.8rem;
  height: 1.3rem;
  /*right: 4.2rem;*/
}

.p11 .p11-swiper-prev-btn {
  background: url('../img/arrow_left.png?v=1') no-repeat center center;
  background-size: 100% 100%;
  width: 0.8rem;
  height: 1.3rem;
  /*left: 4.2rem;*/
}

.p11-btn-box {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}

.p11-btn {
  width: 12.2rem;
  height: 3.2rem;
  background: url("../img/p11_btn.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
}
.p11-btn:active{
  background: url("../img/p11_btn_active.png?v=1") no-repeat center center;
  background-size: 100% 100%;
}



/******************************************************************/

.dialog1 {}

.dialog1-box {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.dialog1-btn-get {
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
}

.dialog1-bg {
  width: 100%;
}


/******************************************************************/

.d-share {}

.d-share-hint {
  width: 100%;
}


/******************************************************************/

.d-share-friend2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.share-input-bg{
  width: 100%;
}

.share-input-box{
    width: 39rem;
    height: 29rem;
    position: absolute;
    top: 20rem;
    /* right: 0; */
    left: 50%;
    margin-left: -19.5rem;
    /* margin: 0 auto; */
    background: url(../img/share_input_box2.png?v=3) no-repeat center center;
    background-size: 100% 100%;
}

.share-friend-input {
    position: absolute;
    top: 13rem;
    left: 14rem;
    outline: none;
    resize: none;
    width: 10rem;
    height: 3rem;
    line-height: normal;
    padding: 0.5rem;
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    display: block;
    background: none;
    color: #e3af69;
    /*outline: 1px solid red;*/
}

.share-friend-input-btn {
  position: absolute;
  top: 22.7rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 8.75rem;
  height: 2.85rem;
  background: url("../img/share_input_btn.png?v=3") no-repeat center center;
  background-size: 100% 100%;
  border: none;
  padding: 0;
}


/******************************************************************/


/*错误弹框*/

.d-error {
  background: rgba(0, 0, 0, 0.8);
}

.d-error-box {
  background: url("../img/toast_error_img.png?v=1") no-repeat center center;
  background-size: 100% 100%;
  width: 27rem;
  height: 18.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.d-error-box-text {
  color: #e3af69;
  font-size: 1.4rem;
  position: absolute;
  line-height: 2.4rem;
  bottom: 20%;
  left: 2rem;
  right: 2rem;
  text-align: center;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);

}



/******************************************************************/

.d-loading {}

